<h3>Secret Service</h3>

<p>Anything here should be shown as login information</p>

{{#if errorMessage}}
    <div class="alert alert-danger"> <strong>Error:</strong> {{errorMessage}}</div>
{{else if successMessage}}
    <div class="alert alert-success"> <strong>Success:</strong> {{successMessage}}</div>
{{/if}}

<div>
    <h4>Collected Resource:</h4>
    <p>Iron: {{IronMine.HistoryCollectedResource}}</p>
    
</div>

<br>
<form method="post" action="/information">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <p>Old password</p>
                <input class="form-control" id="password" name="password" type="password" placeholder="Password" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <p>New password</p>
                <input class="form-control" id="newPassword" name="newPassword" type="password" placeholder="New password" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <p>Confirm New password</p>
                <input class="form-control" id="confirmNewPassword" name="confirmNewPassword" type="password" placeholder="Confirm new password" required>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-success pull-right" value="Confirm">
</form>


<br>
<br>

<form method="post" action="/information">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <p>Change name</p>
                <input class="form-control" id="displayName" name="displayName" type="displayName" placeholder="Enter text here" required>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-success pull-right" value="Confirm">
</form>

<br>
<form method="post" action="/information">
    <input type="submit" class="btn btn-success pull-right" value="Reset">
</form>