{{#if errorMessage}}
    <div class="alert alert-danger"> <strong>Error:</strong> {{errorMessage}}</div>
{{else if successMessage}}
    <div class="alert alert-success"> <strong>Success:</strong> {{successMessage}}</div>
{{/if}}

    <h2>Mission Log</h2>
    {{#if (andOperator Mission.SpendIron100.Bool Mission.SpendCrystal100.Bool)}}
        <p>Hi</p>
    {{else}}
        <p>No</p>
    {{/if}}